body {
	margin: 0;
	padding: 0;
	background: #7396ad;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.validator-section {
	width: 630px;
	display: block;
	padding: 20px;
	margin: 50px auto;
	border: 1px solid #b7b3b3;
}

.validator-section div input {
	padding: 4px;
}
.add-section {
	width: calc(100% - 162px);
	margin: 40px 81px;
}
.add-btn {
	float: right;
	padding: 5px 20px;
}
.address {
	width: 66%;
	padding: 4px;
}

input:focus,
.ReactTable .rt-resizer:focus,
.ReactTable .rt-thead .rt-resizable-header:focus {
	outline: none;
}

.remove-btn {
	padding: 4px 15px;
	margin-left: 30px;
}

ul {
	list-style-type: none;
}
img.loading-svg {
	margin: 300px auto 0;
	display: block;
	z-index: 10;
}

.names {
	width: 30%;
	display: inline-block;
}

.address {
	width: 68%;
	display: inline-block;
}

/* Table styles */

.rt-td {
	text-align: center;
}

span.list-title {
	margin: 0 80px 25px;
}

.ReactTable {
	width: 74%;
	margin: 0 auto;
	display: block;
}

button {
	transition: all 0.3s ease;
	border-color: #f1f1f1;
	border-radius: 4px;
}
button:focus {
	outline: none;
}
button:hover {
	background: #7396ad;
	color: #fff;
}
.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
	width: 100px !important;
	flex: none !important;
}

.validator-section span {
	display: inline-block;
}

.ReactTable .-pagination .-center {
	font-size: 12px;
}

.ReactTable .-pagination {
	height: 35px;
}

.add-section {
	width: calc(100% - 162px);
	margin: 40px 81px;
}
img#footer-logo {
	width: 160px;
	float: left;
}
.footer {
	margin: 0 auto;
	width: 80%;
	display: block;
}
#copy-right {
	float: right;
}

#logo {
	width: 500px;
	margin: 40px auto;
	display: block;
}
.nav-tabs {
	margin: 0 auto;
	width: 275px;
}
.link,
.active-link {
	transition: all 0.6s ease;
	padding: 10px 25px;
	text-decoration: none;
	margin: 0 5px;
	background: #fff;
	display: inline-block;
	color: #000;
	-webkit-box-shadow: 1px 0px 13px 0px rgba(179, 177, 179, 1);
	-moz-box-shadow: 1px 0px 13px 0px rgba(179, 177, 179, 1);
	box-shadow: 1px 0px 13px 0px rgba(179, 177, 179, 1);
}
.link:hover,
.link:active {
	-webkit-box-shadow: 1px 0px 13px 0px rgb(115, 150, 173);
	-moz-box-shadow: 1px 0px 13px 0px rgb(115, 150, 173);
	box-shadow: 1px 0px 13px 0px rgb(115, 150, 173);
}

.active-link {
	background: #7396ad;
	color: #fff;
}
